__pycache__/
*.pyc
*.pyo

.DS_Store
log_files/
utils/logs/
datasets/non_filtered
datasets/processed
models/class_indices.json
models/correction_model_csv.pkl
modles/yoga_pose_recognition.keras
models/yolov8n.pt



