# Ignore dataset and processed data
dataset/
filtered_data/
non_filtered_data/
archive/
keypoints/

training_dataset/
testing_dataset/

# Ignore model files

models/correction_model_csv.pkl
models/yoga_pose_recognition.keras
model/class_indices.json


# Ignore virtual environment
yogalense/

# Ignore IDE-specific files
.idea/

# Ignore logs and keypoints

log_files/
utils/logs/


